#=============================================================================
# IDE — VSCode
#=============================================================================
.vscode/

#=============================================================================
# Build output
#=============================================================================
build/
*.d
.clangd/

#=============================================================================
# CMake
#=============================================================================
cmake/
CMakePresets.json

#=============================================================================
# Not related to the project
#=============================================================================
Bsp/BspItm/
F4Board/CMakeLists.txt
F4gCore/coreIntrpt/
prvtNotes.md